/* font */

@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

/* custom styles and keyframes */

:root {
  --background-color: #c2e3fe;
  --font-clr-primary: #5a5a87;
  --font-clr-alt: #92c5eb;
  --bounce-anim: bounce 2.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* general styles */

body {
  background-color: var(--background-color);
  background-image: url(/assets/images/clouds-background.png);
  background-size: cover;
  font-family: "Margarine", sans-serif;
  color: var(--font-clr-primary);
  font-weight: bold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */

.nav-logo {
  position: absolute;
  top: -2px;
  height: 4rem;
  padding-left: 3rem;
}
.nav-logo:hover {
  animation: var(--bounce-anim);
}
.navbar-nav {
  padding-right: 3rem;
}
.nav-link {
  color: var(--font-clr-primary) !important;
  font-size: 1.5em;
  &:hover {
    animation: var(--bounce-anim);
  }
}
.active {
  color: var(--font-clr-alt) !important;
}
.navbar {
  position: relative;
  background-color: white !important;
  height: 3rem;
  margin: 2rem;
  border-radius: 50px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.08);
}

.navbar-toggler {
  height: 5px;
}
.navbar-toggler-icon,
.navbar-toggler {
  position: absolute;
  right: 10px;
  top: 5px;
}

/* footer */

footer {
  container-type: inline-size;
  margin-top: auto;
  text-align: center;
  background-color: var(--font-clr-primary);
  height: fit-content;
}

.footer-img {
  padding-left: 3rem;
  padding-top: 10px;
  height: 75px;
  width: auto;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  padding-right: 2rem;
  & li {
    font-size: 2rem;
    color: var(--font-clr-primary);
    margin-top: 10px;
    padding-top: 10px;
  }
  & a {
    text-decoration: inherit;
    color: inherit;
  }
  & i {
    padding-top: 7px;
  }
}

.li-border {
  height: 3rem;
  width: 3rem;
  background-color: var(--background-color);
  border-radius: 50%;
  display: block;
  margin-left: 2rem;
  &:hover {
    background-color: var(--font-clr-alt);
    transition: all 0.5s ease-in-out;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }

  .footer-img {
    align-self: center;
    width: 200px;
  }
}
.li-border {
  margin-left: 20px;
  margin-bottom: 10px;
}

/* INDEX.HTML STYLES  */

/* hero */

.container-hero {
  margin-top: 5rem;
  container-type: inline-size;
  position: relative;
  height: 100%;
  width: auto;
}

.hero-img {
  position: absolute;
  height: 500px;
  width: auto;
  left: 30%;
}
.hero-img-wrapper {
  min-width: 412px;
}

.hero-text {
  z-index: -1;
  position: absolute;
  align-items: center;
  text-align: center;
  border-radius: 54px;
  border: 11px solid #fff;
  background: #f8f8ff;
  box-shadow: 10px 10px 0px 0px #e0fafb;
  max-width: 485px;
  width: 100%;
  padding: 30px 37px;
  margin-top: 126px;
  transform: rotate(-5deg) translateX(-10px);
  top: -160px;
  left: 20%;
}

.hero-text h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.hero-text p {
  font-size: 2rem;
  padding-top: 1rem;
}
.secondary-text {
  color: var(--font-clr-alt);
}

@container (max-width: 1240px) {
  .container-hero {
    position: static;
    display: flex;
    flex-direction: column;
  }
  .hero-img {
    top: 150px;
    height: 400px;
    object-fit: contain;
  }
  .hero-text {
    top: -200px;
    left: 100px;
  }
}

@container (max-width: 965px) {
  .hero-img {
    height: 350px;
    top: 250px;
    left: 10px;
    width: fit-content;
  }

  .hero-text p {
    font-size: 1.5rem;
  }
}

@container (max-width: 606px) {
  .hero-text {
    z-index: 2;
    border-radius: 54px;
    border: 11px solid #fff;
    background: #f8f8ff;
    box-shadow: 5px 5px 0px 0px #e0fafb;
    transform: none;

    width: auto;
    left: 0;
  }
  .hero-img {
    z-index: 2;
    top: 170px;
  }
}

@container (max-width: 415px) {
}

/* INFORMATION.HTML STYLES */

.info-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.audio-button {
  border-radius: 50%;
  background-color: var(--font-clr-primary);
}

.text-box {
  align-items: center;
  text-align: center;
  border-radius: 54px;
  border: 11px solid #fff;
  background: #f8f8ff;
  box-shadow: 10px 10px 0px 0px #e0fafb;
  max-width: 485px;
  width: 100%;
  padding: 5px 17px;
}

.general-audio p {
  padding-left: 2rem;
  text-align: center;
}

.show-info {
  padding-top: 4rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.char-info h2 {
  padding: 1rem;
  font-size: 2rem;
}

.bluey-info {
  & h2 {
    font-size: 3rem;
    padding-top: 1rem;
  }
}
.info-text {
  font-size: 1.5rem;
  & li {
    padding-top: 2rem;
  }
}
